.sideMenulinks {
    height: 64px;
    width: 250px;
    padding: 10px 0px 10px 20px;
  }

  .sideLinks {
    color: #0060FF;
    font-family: "IBM Plex Sans";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 22px;
  }

  .right-content {
      padding-top:15px;
  }

  .sideBarWidth {
      width: 250px;
  }

  @media only screen and (min-width: 320px) and (max-width: 767px)  {
    .sideMenulinks {
        width: 100%;
      }
      .sideBarWidth {
        width: 100%;
    }
  }