.paddingTop {
    padding-top:60px;
}

.centerAlign {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.title {
    color: #000;
    font-size: 52px; 
}

.getStarted {
    outline: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    color:#fff;
    width: 160px;
    margin-top:10px;
    padding: 8px 8px;

}