.post {
    background-color: #fff;
    -webkit-box-shadow: 2px 6px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 6px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 6px 13px 0px rgba(0,0,0,0.75);
    border-radius: 15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.topBanner {
    margin-bottom:15px;
}

.topBannerDetails {
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    height: 180px;
    padding: 2px 2px;
    width: 100%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.topBannerDetails p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 15px;
    color: #fff;
    text-transform: uppercase;
    margin: 0px;
}

.topBannerDetails p:first-child {
    margin-bottom:5px;
}

.topBannerDetails p:last-child {
    text-transform: none;
}

.post .bodyContent {
    padding: 12px 12px;
}

.post .bodyContent > .createdDate {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 15px;
    color: #525252;
    text-transform: uppercase;
    margin: 0px 0px 15px 0px;
}

.post .bodyContent > .memory-content {
    margin: 25px 0px 25px 0px;
}

.post .bodyContent > .memory-content > h1 {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 15px;
    text-transform: uppercase;
    margin: 0px 0px 25px 0px;
    padding-top: 15px;
}

.post .bodyContent > .memory-content > .description {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 15px;
    text-transform: uppercase;
    margin: 25px 0px 15px 0px;
    padding-top: 15px;

}

.deleteMemoryBtn, .EditMemoryBtn {
    cursor: pointer;
}

.deleteMemoryBtn > i, .EditMemoryBtn > i {
    color: #000;
}

.clear{
    float:none
}

.actions {
    margin: 12px 12px;
    height: 25px;
}